.ant-card .ant-card-body {
    padding: 0;
}

.custom-card {
    background-color:#EDEDED;
    transition: transform 0.2s ease-out;
}

.custom-card:hover {
   
}

.date-container {
    display: flex;
    flex-direction: column;
    background-color: #a26fcb;
    color: white;
    font-weight: bold;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}