.empty-card {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666;
  font-size: 12px;
  margin-top: -110px;
  color: #7530ac;
  font-style: bold;
  font-weight: bold;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.bell-image {
  width: 8%;
  height: 7%;
}
.logos {
  width: 10%;
  height: 9%;
  align-self: flex-start;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0px;
  border: 1px solid purple;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.customDatePicker {
  position: relative;
  top: -32px;
  margin-left: 30px;
}

.card-content {
  height: 100%;
  width: 100%;
  background-color: #F1F1F1;
  overflow-y: none;
  padding: 10px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

.header-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .image {
    width: 25px;
    height: auto;
  }

  .activity-info {
    display: flex;
    align-items: center;

    .activity-name {
      margin-left: 10px;
    }

    .bell-image {
      width: 20px;
      height: auto;
      margin-left: 10px;
    }
  }
}

.card-body {
  color: #676767;
  padding-top: 10px;
  .date-info {
    display: flex;
    align-items: center;

    .date-picker-image {
      width: 20px;
      height: auto;
      margin-right: 10px;

    span {
      font-size: 14px;
    }
  }
}
}
