.steps-list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.steps-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 10px;
    background-color: #F1F1F1;
    border-radius: 10px;
    height: 100px;
    text-align: center;
   
}

.step-number {
    font-size: 20px;
    color: #a26fcb;
}

.activity-image {
    border-radius: 50%;
    padding: 10px;
}

.activity-description {
    border: 1px solid #eee8e8;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #F1F1F1;
}

@media (max-width: 570px) {
    .steps-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }
}
