.steps-list {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .steps-card {
     display: flex;
      flex-direction: column;
    align-items: center;
    // padding: 10px;
    background-color: #a26fcb;
     border-radius: 8px;
    height: 80px;
     text-align: center;
  }
  
  .step-number {
    font-size: 20px;
    color: white;
  }
  
  .activity-image {
    border-radius: 50%;
    padding: 10px;
  }
  
  .activity-description {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(214, 221, 223);
  }
  